/* open-sans-800 - cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('@/assets/fonts/open-sans-v44-cyrillic-800.eot'); /* IE9 Compat Modes */
  src:
    url('@/assets/fonts/open-sans-v44-cyrillic-800.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('@/assets/fonts/open-sans-v44-cyrillic-800.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('@/assets/fonts/open-sans-v44-cyrillic-800.woff') format('woff'),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url('@/assets/fonts/open-sans-v44-cyrillic-800.ttf') format('truetype'),
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
      url('@/assets/fonts/open-sans-v44-cyrillic-800.svg#OpenSans') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Play';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('Play-Regular.eot');
  src:
    local('Play Regular'),
    local('Play-Regular'),
    url('@/assets/fonts/Play-Regular.eot?#iefix') format('embedded-opentype'),
    url('@/assets/fonts/Play-Regular.woff2') format('woff2'),
    url('@/assets/fonts/Play-Regular.woff') format('woff'),
    url('@/assets/fonts/Play-Regular.ttf') format('truetype'),
    url('@/assets/fonts/Play-Regular.svg#Play-Regular') format('svg');
}

:root {
  --font-family: 'Play', sans-serif;
  --second-family: 'Open Sans', sans-serif;

  --base-white: #ffffff;
  --base-black: #181818;
  --base-yellow: #a59400;
  --base-green: #308e21;
  --base-grey: #777777;
  --base-red: #c82020;
  --base-pink-under-line: #dc5dfc;
  --base-focuse-color: #b4a9ff;
  --base-blue: #67a5eb;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
ul {
  list-style: none;
}
body {
  min-height: 100vh;
  color: var(--color-text);
  background-color: rgb(106, 93, 194);
  background:
    linear-gradient(180deg, #000 0%, rgba(39, 36, 36, 0.7) 100%),
    linear-gradient(180deg, rgba(163, 147, 245, 1) 0%, rgba(163, 147, 245, 1) 100%);
  font-size: 15px;
}
